<div class="card" style="width: 18rem;" *ngIf="product.title">
    <img [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}" *ngIf="product.imageUrl">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'INR' }}</p>
    </div>
    <div class="card-footer d-grid" *ngIf="showActions ">


        <button *ngIf="!shoppingCart; else addTocart" (click)="addToShoppingCart()"
            class="btn btn-secondary btn-block">Add to
            Cart
        </button>

        <ng-template #addTocart>

            <button *ngIf="shoppingCart.getQuantity(product)==0; else showQuantity" (click)="addToShoppingCart()"
                class="btn btn-secondary btn-block">Add to
                Cart
            </button>
        </ng-template>


        <ng-template #showQuantity>

            <product-quantity [product]="product" [shoppping-cart]="shoppingCart"></product-quantity>

        </ng-template>


    </div>
</div>