<div style="margin: 7%;">
    <h1>Shopping Cart</h1>
    <div class="row col-10" *ngIf="ShoppingCart$ | async as cart">


        <p>You have
            <span class="badge rounded-pill bg-success">{{cart.ToalItems}} </span>
            Items in Your Shopping Cart
        </p>

        <table class="table  ">
            <thead>
                <th></th>
                <th>Product</th>
                <th class="text-center" width="230px">Quantity</th>
                <th class="text-end" width="200px">Price</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.Items">
                    <td>
                        <div class="thumbnail" [style.backgroundImage]="'url('+item.imageUrl+')'"></div>
                    </td>
                    <td>{{item.title}}</td>
                    <product-quantity [product]="item" [shoppping-cart]="cart"></product-quantity>

                    <td class="text-end">{{item.totalPrice | currency:'INR'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th class="text-end">{{cart.totalPrice | currency:'INR'}}</th>
                </tr>
            </tfoot>
        </table>
        <button style="width: 16%;" *ngIf="cart" class="btn btn-danger btn-sm" (click)="clearShoppingCart()">Clear
            Shopping Cart</button>
    </div>
</div>